/* .carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
} */

/* CAROUSEL IMAGE HEIGHT SIZE */
/* .carousel-item img {
  height: 700px;
  object-fit: cover;
} */